@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Open+Sans&display=swap");

:root {
  --font-alt: "Open Sans", sans-serif;
  --font-base: "Lato", sans-serif;

  --color-lblue: #4ca3b0;
  --color-dblue: #2a5866;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #555555;
  --color-green: #2cc129;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: unset;
  text-decoration: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
